body {
    margin: 0;
    background-color: #121212;
    color: #e0e0e0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #212121;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.nav-icon {
    color: #bdbdbd;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 0 20px;
    background: none;
    border: none;
}

.page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #121212;
    color: white;
    z-index: 1000;
    overflow-y: auto;
    scrollbar-width: none;
    padding: 20px;
    box-sizing: border-box;
}

.book-navbar {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #212121;
    padding: 10px 20px;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    width: fit-content;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.book-nav-icon {
    color: #bdbdbd;
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    transition: color 0.3s ease;
    background: none;
    border: none;
}

.book-nav-icon:hover {
    color: #fff;
}

.people-container {
    max-width: 800px;
    margin: 80px auto 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
}

.person-item {
    text-align: center;
    cursor: pointer;
}

.person-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 120/165;
    object-fit: cover;
    border-radius: 13px;
}

.person-item div {
    color: white;
    margin-top: 10px;
}

.picture-container {
    max-width: 800px;
    margin: 80px auto 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
}

.gallery-item img, .gallery-item video {
    width: 100%;
    height: auto;
    border-radius: 12px;
    cursor: pointer;
    margin: 4px;
}

.gallery-item-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    color: white;
    z-index: 1000;
}

.gallery-item-open {
    max-width: 85%;
    max-height: 80%;
    object-fit: contain;
    border-radius: 13px;
    display: block;
    margin: 50px auto;
}

.gallery-item-video-open {
    max-width: 85%;
    max-height: 80%;
    object-fit: contain;
    border-radius: 13px;
    display: block;
    margin: 50px auto;
}

.person-item-page {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    color: white;
    z-index: 1000;
}

.person-container {
    position: absolute;
    top: 20%;
    left: 20%;
}

.person-image-open {
    border-radius: 13px;
    width: 200px;
    position: relative;
}

.person-name {
    position: absolute;
    top: 0;
    left: 220px;
    white-space: nowrap;
    font-weight: bold;
    font-size: 25px;
}

.person-info{
    position: absolute;
    left: 220px;
    top: 60px;
}

.person-header{
    white-space: nowrap;
    font-size: 22px;
    margin-top: 10px;
    font-weight: bold;
}

.person-attribute{
    white-space: nowrap;
    font-size: 20px;
    margin-top: 10px;
}

.person-comments{
    white-space: nowrap;
    font-size: 20px;
    margin-top: 20px;
    color: #7a7a7a;
}

.person-description{
    position: absolute;
    top: 350px;
    width: 60vw;
    white-space: wrap;
    font-size: 20px;
}

@media (max-width: 540px) {
    .person-image-open {
        border-radius: 13px;
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .person-container {
        position: absolute;
        top: 20%;
        left: 20%;
    }

    .person-name {
        position: static;
        text-align: center;
        margin-top: 70px;
    }

    .person-info{
        position: static;
        text-align: center;
        margin-top: 40px;
    }

    .person-description{
        position: static;
        text-align: center;
        margin-top: 55px;
        margin-bottom: 60px;
    }
}

.next-button {
    position: absolute;
    top: 290px;
    right: 0;
    width: 40px;
    height: 40px;
    background-color: #3A3A3A;
    white-space: wrap;
    font-size: 20px;
    border-radius: 13%;
}

.previous-button {
    position: absolute;
    top: 290px;
    width: 40px;
    height: 40px;
    background-color: #3A3A3A;
    white-space: wrap;
    font-size: 20px;
    border-radius: 13%;
}

.close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: #551818;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.close-button::before, .close-button::after {
    content: '';
    position: absolute;
    width: 2px;
    height: 20px;
    background-color: white;
    top: 10px;
    left: 19px;
}

.close-button::before {
    transform: rotate(45deg);
}

.close-button::after {
    transform: rotate(-45deg);
}

.persons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    padding-bottom: 20px;
    margin: 0 auto;
}

.persons-person {
    width: 160px;
    margin: 0 10px;
    background-color: #3A3A3A;
    border-radius: 13px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
    bottom: 100px;
}

.persons-person img {
    width: 80%;
    height: auto;
    display: block;
    margin: 10px auto;
    border-radius: 13px;
}

.persons-person p {
    margin: 5px;
    font-family: sans-serif;
    font-size: 16px;
}